/target/
.settings
logs
mobile-logs
*/target
*/.gitignore
.classpath
.class
.factorypath
!adcExternalWsClients/.settings
*ibm-web-ext.xml
build/classes/META-INF/MANIFEST.MF
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/encodings.xml
.idea/compiler.xml
.project
*/project
/project/
*/.settings
/.settings/
*/.classpath
/.classpath/
.idea/*
*/.iml
*/iml
web.encore.iml